/*@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}*/

div aa {background-color: hsl(193, 48%, 61%);}    /* base color */
div bb {background-color: hsl(193, 51%, 42%);}    /* dark color */
div cc {background-color: hsl(194, 19%, 71%);}    /* washed color */
div dd {background-color: hsl(220, 1%, 96%);}    /* white-ish color */
div ee {background-color: hsl(240, 1%, 87%);}    /* grey white color */


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
  }
body {
    width: 80%;
    font-size: 16px;
    background-color: hsl(240, 1%, 87%);
    margin: 0 auto;
    font-family: 'Noto Sans', sans-serif;
}
.clear {
    clear:both;
}
/*image formatting*/
.project_preview{
    width: 100%;
    padding: 0 1rem .5rem 1rem;
}
.photo_me {
    border-radius: 2rem;
    max-width: 90%;
    display: block;
    margin: 0 auto;
    padding: 1rem 0;
}
/*formatting for the navigation bar*/
nav ul {
    list-style-type: none;
    margin: 1rem 0 1rem 0;
}
nav li {
    display: inline-block;
    width: 30%;
}
nav a {
    display: block;
    text-align: center;
    background-color: hsl(193, 48%, 61%);
    text-decoration: none;
    padding: 0.35rem;
    color: hsl(220, 1%, 96%);
    border-radius: .5rem;
}       
.selected {
    background-color: hsl(193, 51%, 42%);
    color: white;
}

/*heading fixes*/
h5{
    font-size: 1.05rem;
    margin: 1rem 0 .5rem 0;
}
h6{
    font-size: 1rem;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0 1rem;
}

/*purely text-content formatting*/
.bio, .resume, .projects {
    background-color: hsl(220, 1%, 96%);
    border-radius: 1rem;
    padding: 0 0 1rem 0;
}
p {
    text-indent: 1rem;
    padding: 0 1rem;
}
.right_align {
    margin: 0;
    text-align:right;
}
.project_title {
    border-radius: .5rem;
    background-color: hsl(193, 48%, 61%);
    text-align: center;
    padding: .25rem;
    font-weight: bold;
    width: 100%;
    margin: 1rem auto .5rem auto;
    color: whitesmoke;
}
.old_jobs p {
    font-size: .9rem;
    text-indent: 0;
    margin:.25rem 0 .75rem 0;
}

/*link formatting*/
.outlink {
    text-align: center;
    background-color: hsl(194, 19%, 71%);
    max-width: 90%;
    margin: .5rem auto;
    border-radius: .5rem;
}
.outlink a {
    display: inline-block;
    text-decoration: none;
    color:white;
}